[global]
index = http://{{ cj_nexus_ip }}:{{ nexus_default_port }}/repository/pypi-all/pypi
index-url = http://{{ cj_nexus_ip }}:{{ nexus_default_port }}/repository/pypi-all/simple
trusted-host = {{ cj_nexus_ip }}
